<?xml version="1.0"?>
<clickhouse>
  <listen_host>0.0.0.0</listen_host>
  <timezone>UTC</timezone>

  <!-- <tcp_port_secure>9440</tcp_port_secure> -->
  <!-- <openSSL> -->
  <!--   <server> -->
  <!--     <certificateFile>/etc/clickhouse-server/server.crt</certificateFile> -->
  <!--     <privateKeyFile>/etc/clickhouse-server/server.key</privateKeyFile> -->
  <!--   </server> -->
  <!-- </openSSL> -->

  <storage_configuration>
    <disks>
      <default>
        <!-- <keep_free_space_bytes>2147483648</keep_free_space_bytes> -->
      </default>

      <tmp>
        <path>/tmp/ch-disk/</path>
      </tmp>
    </disks>

    <policies>
      <tiered>
        <move_factor>0.1</move_factor>

        <volumes>
          <default>
            <disk>default</disk>
          </default>

          <s3>
            <disk>tmp</disk>
          </s3>
        </volumes>
      </tiered>
    </policies>
  </storage_configuration>
</clickhouse>
