apiVersion: 1

deleteDatasources:
  - name: cLoki
    orgId: 1
  - name: Uptrace
    orgId: 1

datasources:
  - name: Uptrace cLoki Project 1
    type: loki
    access: proxy
    url: http://host.docker.internal:14318
    editable: true
    jsonData:
      httpHeaderName1: 'uptrace-dsn'
    secureJsonData:
      httpHeaderValue1: 'http://project1_secret_token@localhost:14317/1'

  - name: Uptrace Tempo Project 1
    type: tempo
    access: proxy
    url: http://host.docker.internal:14318
    editable: true
    jsonData:
      httpHeaderName1: 'uptrace-dsn'
    secureJsonData:
      httpHeaderValue1: 'http://project1_secret_token@localhost:14317/1'

  - name: Uptrace Prometheus Project 1
    type: prometheus
    access: proxy
    url: http://host.docker.internal:14318
    editable: true
    jsonData:
      httpHeaderName1: 'uptrace-dsn'
    secureJsonData:
      httpHeaderValue1: 'http://project1_secret_token@localhost:14317/1'

  - name: Uptrace Prometheus Project 2
    type: prometheus
    access: proxy
    url: http://host.docker.internal:14318
    editable: true
    jsonData:
      httpHeaderName1: 'uptrace-dsn'
    secureJsonData:
      httpHeaderValue1: 'http://project2_secret_token@localhost:14317/2'
