.cursor-pointer {
  cursor: pointer;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.user-select-text {
  user-select: text !important;
}

.text-transform-none {
  text-transform: none;
}

.word-break-all {
  word-break: break-all !important;
}
