.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.user-select-text {
  user-select: text !important;
}

.user-select-all {
  user-select: all !important;
}

.text-transform-none {
  text-transform: none !important;
}

.word-break-all {
  word-break: break-all !important;
}
