@import './_table.scss';
@import './_util.scss';

pre,
code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.9375rem;
  white-space: pre-wrap;
}

.container--fixed-sm {
  & .container {
    max-width: 800px;
    padding-left: 0;
    padding-right: 0;
  }
}

.container--fixed-md {
  & .container {
    max-width: 900px;
    padding-left: 0;
    padding-right: 0;
  }
}

.container--fixed-lg {
  & .container {
    max-width: 1000px;
    padding-left: 0;
    padding-right: 0;
  }
}

.container--fixed-x-lg {
  & .container {
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
}
