@import './_table.scss';
@import './_gridstack.scss';
@import './_theme.scss';
@import './_util.scss';

pre,
code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.9375rem;
  white-space: pre-wrap;
}

.container--fixed-sm {
  & .container {
    max-width: 800px;
  }
}

.container--fixed-md {
  & .container {
    max-width: 900px;
  }
}

.container--fixed-lg {
  & .container {
    max-width: 1000px;
  }
}

.container--fixed-x-lg {
  & .container {
    max-width: 1200px;
  }
}

.v-select--fit {
  flex: fit-content 0 0 !important;

  &:not(.v-autocomplete) {
    input {
      width: 0;
    }
  }
}
