version: '3'
services:
  clickhouse:
    image: clickhouse/clickhouse-server:22.4
    environment:
      - CLICKHOUSE_DB=uptrace
    healthcheck:
      test: ['CMD', 'wget', '--spider', '-q', 'localhost:8123/ping']
      interval: 1s
      timeout: 1s
      retries: 30
  uptrace:
    image: 'uptrace/uptrace:latest'
    volumes:
      - ./uptrace.yml:/etc/uptrace/uptrace.yml
    ports:
      - '14317:14317' # OTLP
      - '14318:14318' # UI and HTTP API
    environment:
      - DEBUG=2
    depends_on:
      clickhouse:
        condition: service_healthy
