[Unit]
Description=Uptrace
After=network.target

[Service]
ExecStart=/usr/bin/uptrace $UPTRACE_OPTIONS serve
EnvironmentFile=/etc/uptrace/uptrace.conf
KillMode=mixed
Restart=on-failure
Type=simple
User=uptrace
Group=uptrace

[Install]
WantedBy=multi-user.target
