[Unit]
Description = Uptrace
After       = network.target

[Service]
Type     = simple
KillMode = mixed

User  = uptrace
Group = uptrace

EnvironmentFile = /etc/uptrace/uptrace.conf
ExecStart       = /usr/bin/uptrace $UPTRACE_OPTIONS serve

Restart    = always
RestartSec = 1s

[Install]
WantedBy = multi-user.target
