[Unit]
Description = Uptrace
After       = network.target

[Service]
Type     = simple
KillMode = mixed

User  = uptrace
Group = uptrace

WorkingDirectory = /var/lib/uptrace

ExecStart       = /usr/bin/uptrace $UPTRACE_OPTIONS serve
EnvironmentFile = /etc/uptrace/uptrace.conf

Restart    = on-failure
RestartSec = 1s

[Install]
WantedBy = multi-user.target
